body{
    color: aliceblue;
    background-color: #272F35;
}


.title{
    font-size: 300%;
}
.main_table{
    width: 100%;
    padding: 2%;
}

.table_icon{
    width: 80%;
}
a{
    font-family:monospace;
    font-size: 15px;
    color: aliceblue ;   
}
