body{
    color: aliceblue;
    background-color: #272F35;
}
hr {
    width: 10%;
    border-style: dotted none none none;
    border-color: #f7f7f794;
    border-width: 5px;
}


.title{
    font-size: 300%;
    color: #f7f7f7;
}
.main_table{
    width: 100%;
    padding: 2%;
}

.table_icon{
    width: 80%;
}
a{
    font-family:monospace;
    font-size: 15px;
    color: aliceblue ;   
}
